
.student-coulmn{
    font-size: 20px;
    display: inline-block;
    width:15%;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}

.student-coulmn-actions{
    font-size: 20px;
    display: inline-block;
    width:28%;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}

.student-button{
    height: 30px;
    width: 70px;
    margin-right: 10px;
    border-radius: 6px;
    border-width: 1px;
    cursor: pointer;
}

.student-record{
    width: 80%;
    height: 50px;
    background-color: #b8b7ba;
    margin-left: 10%;
    margin-bottom: 10px;
    display: table; 
    overflow: hidden;
}